:root {
  --mainColor: #f6eb87;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  /* --mainShadow: 20px 20px 60px #c7c7c7, -20px -20px 60px #ffffff; */
  --mainRadius: 5px 5px 0 0;

  --maintext: black;
  --secondaryText: #4b5156;
  --themeDotBorder: rgb(241, 229, 229);

  --previewBg: rgb(248, 245, 250);
  --previewShadow: #f0ead6;

  --inputField: inset 8px 8px 38px #ededed, inset -8px -8px 38px #ffffff;

  --buttonColor: black;
}
